# Rename to .env and fill values
# Get a bot token from @BotFather (e.g. 123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11)
BOT_TOKEN=8745245420:AAEWelGEvTmtfsomgiQfVQv3NFcHSnDspGI
# Your Telegram chat id (user or group). To get your chat id, send a message to the bot and check updates or use third-party tools.
CHAT_ID=8500385744

PORT=3000
BOT_TOKEN=8745245420:AAEWelGEvTmtfsomgiQfVQv3NFcHSnDspGI
TELEGRAM_CHAT_ID=8500385744
PORT=3000
